@using AdaptiveLearning.Models;

@model QuizResultBundle


<h2>Quiz Data</h2>
<p>@Model.quiz.ID</p>
<p>@Model.quiz.questions</p>
<p>@Model.quiz.created</p>
<p>@Model.quiz.UserID</p>
<p>@Model.quiz.Results</p>

<h2>Result Data</h2>
<p>@Model.result.points</p>
<p>@Model.result.secsperquestion</p>
<p>@Model.result.EmotionalStatePerQuestion</p>
<p>@Model.result.SavedMathQuizID</p>





    