 
@model MathQuizModel

@{
    ViewData["Title"] = "MathRandomDisplay";
}


<div class="row">
        
    <div class="col-md-12 text-center divination" id="math-quiz">
        $${}$$      
        <input type="text" name="answer" id="math-quiz-line-3" />
    </div>    
    
</div>

@section scripts{
<script type="text/javascript">
   var mathQuizParams =
            {
                number1LowRange: @Model.Number1LowRange,
                number1HighRange: @Model.Number1HighRange,
                number2LowRange: @Model.Number2LowRange,
                number2HighRange: @Model.Number2HighRange,
                operations: [],
                numQuestions: @Model.NumQuestions,
            };
   @foreach (var op in Model.Operations)
            {
                @:mathQuizParams.operations.push("@op.ToString()");
            }
             

   MathQuizModule(mathQuizParams);
    </script>

}

